/*
	CSS内の変数定義
*/
:root
{
	--color-background: #f5f5f5;
	--color-paper: #00ac9a;
	--color-main: #00947a;
	--color-error: #ff6347;
	--color-chat-background: #504946;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;

	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;
}

/*
	ボディ全体のスタイル
*/
.body
{
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
	background-repeat: no-repeat;
}

.hidden
{
	display: none !important;
}

/*
	Header
*/
.header
{
	background-color: var(--color-background);
	padding: var(--spacing-md);

	.title
	{
		font-family: 'Yuji Boku', sans-serif;
		font-size: 46px;
		font-weight: bold;
	}
}

#glonav
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background: #ffffff;
	z-index: 200;
	box-shadow: 0 1px 0 rgba(0,0,0,0.16);
}

#glonav .layout_container
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 93.75%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.logo
{
	width: 121px;
	height: 55px;
}

#glonav .logo a
{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

#glonav .logo a svg
{
	width: 100%;
}
		

/*
#glonav .careetern_logo 
{
	float: left;
	margin-top: 0;
}
*/

#glonav .menu .list 
{
	display: flex;
	list-style: none;

}

#glonav .menu .list li:not(:last-child)
{
	margin-right: 16px;
}
/*
#glonav .list li
{
	float: left;
	margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Yuji Boku', sans-serif;
    font-weight: 700;
}
*/
#glonav .menu a
{
	display: inline-block;
	padding: 8px 12px;
	border-radius: 8px;
	background: #F3F4F6 no-repeat 12px center;
	font-size: 16px;
	font-weight: 700;
	color: #4B5563;
	text-decoration: none;
	transition: all 0.3s ease;
}

#glonav .menu a:hover
{
	background-color: #F9FAFB;
}

#glonav .menu a:hover .cticon
{
	transform: rotate(-5deg) scale(1.1);
}

#glonav .menu .beginner a
{
		padding-left: 38px;
		background-image: var(--nav-beginner-icon);
}

#glonav .menu .cticon
{
	font-size: 1.25em;
	vertical-align: -0.22em;
	color: #4193B6;
	transition: transform 0.3s ease;
}

#glonav .menu .event .cticon
{
	width : 24px;
	height: 24px;
	background-image: url(https://careetern.com/img/speaker_outline.svg);
	background-size: 24px;
}

#glonav .menu .recruit .cticon
{
	width: 19px;
	height: 21px;
	background-image: url(https://careetern.com/img/briefcase.svg);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center;
}

/*listここまで*/
/*マイページ機能*/


#glonav .account_menu
{
	position: relative;
	display: flex;
	align-items: center;

}
#glonav .account_menu a
{
	display: inline-block;
	text-decoration: none;
}

#glonav .account_menu .btn_signin
{
	margin-right: 16px;
	padding: 12px;
	border-radius: 8px;
	background: #E5F0F5;
	font-size: 18px;
	font-weight: 700;
	color: #0080A9;
	transition: all 0.3s ease;
}

#glonav .account_menu .btn_signin:hover
{
	background-color: #0080A9;
	color: #ffffff;
}


#glonav .account_menu .btn_signup
{
	padding: 12px 24px;
	border-radius: 8px;
	background-image: linear-gradient(180deg, #F6AD25, #F4960A);
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 2px 6px rgba(0,0,0,0.08);
	transition: all 0.3s ease;
}

#glonav .account_menu .btn_signup:hover
{
	background-image: linear-gradient(180deg, #E29E21, #E08A09);
}
	

#glonav .account_menu .btn_mypage
{
	margin-right: 16px;
	padding: 12px;
	border-radius: 8px;
	background: #E5F0F5;
	font-size: 18px;
	font-weight: 700;
	color: #0080A9;
	transition: all 0.3s ease;
}

#glonav .account_menu .btn_mypage:hover .cticon
{
    transform: rotate(-5deg) scale(1.1);
}

#glonav .account_menu .btn_mypage:hover .mypage_shortcuts
{
	pointer-events: auto;
	opacity: 1;
	transform: translateY(0);
}

#glonav .account_menu .btn_mypage .cticon
{
	transition: all 0.3s ease;
}


#glonav	.mypage_shortcuts
{
	pointer-events: none;
	position: absolute;
	top: 48px;
	right: 0;
	width: 260px;
	padding: 8px;
	border: 1px solid #9CA3AF;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 4px 32px rgba(0,0,0,0.04);
	font-size: 16px;
	opacity: 0;
	transform: translateY(-8px);
	transition: all 0.3s ease;
}

#glonav	.mypage_shortcuts:hover
{
	pointer-events: auto;
	opacity: 1;
	transform: translateY(0);
}

#glonav	.mypage_shortcuts li:not(:last-child)
{
	margin: 0 0 8px;
}

#glonav	.mypage_shortcuts a
{
	display: block;
	padding: 8px 12px;
	border-radius: 8px;
	background: #F3F4F6 no-repeat 12px center;
	color: #4B5563;
	font-weight: 500;
	transition: all 0.3s ease;
}

#glonav	.mypage_shortcuts a:hover
{
	background-color: #F9FAFB;
}


#glonav	.mypage_shortcuts a:hover .cticon
{
	transform: rotate(-5deg) scale(1.1);
}
			

#glonav	.mypage_shortcuts .cticon
{
	font-size: 1.25em;
	vertical-align: -0.22em;
	color: #0080A9;
	transition: transform 0.3s ease;
}

#glonav	.mypage_shortcuts .cticon .hart
{
	width: 20px;
	height: 21px;
	background-image: url(https://careetern.com/img/liked_blue.svg);
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
}

#glonav	.mypage_shortcuts .btn_logout .cticon
{
	color: #7F1D1D;
}


/*
/*	メニュー表示・非表示切り替えボタン */
#glonav .btn_open_menu
{
	-webkit-appearance: none;
	appearance: none;
	display: none;
	width: 36px;
	height: 36px;
	margin-left: 16px;
	padding: 0;
	border: 0;
	border-radius: 8px;
	background: #F3F4F6;
	color: #475569;
	font-size: 20px;
	text-align: center;
}



/*	モバイル用メニュー*/

#glonav .menu_panel
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}


	/*	表示中 */
#glonav .menu_panel	.active
{
	pointer-events: auto;
}

#glonav .menu_panel	.active .backdrop
{
	opacity: 1;
}

#glonav .menu_panel	.active .btn_close_menu
{
    transform: translateX(0);
}

#glonav .menu_panel	.active	.body
{
	box-shadow: 0 0 64px rgba(0,0,0,0.32);
	transform: translateX(0);
	overflow: auto;
}
	

#glonav .menu_panel	.spacer
{
	width: 100%;
	height: 1px;
	background: #F3F4F6;
}

#glonav .menu_panel	.backdrop
{
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	border: 0;
	background: rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-tap-highlight-color: transparent;
}

#glonav .menu_panel	.btn_close_menu
{
	-webkit-appearance: none;
	appearance: none;
	display: block;
	position: absolute;
	top: 16px;
	right: 260px;
	width: 48px;
	height: 48px;
	border: 0;
	border-radius: 50% 0 0 50%;
	background: #fff;
	color: #475569;
	font-size: 20px;
	text-align: center;
	transform: translateX(308px);
	transition: all 0.3s ease;
}

#glonav .menu_panel	.body
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 260px;
	height: 100%;
	background: #fff;
	transform: translateX(260px);
	box-shadow: 0 0 8px transparent;
	transition: all 0.3s ease;
}

#glonav .menu_panel	.body .list
{
	padding: 8px;
}


#glonav .menu_panel	.body .list	li:not(:last-child)
{
	margin: 0 0 8px;
}

#glonav .menu_panel	.body .list	a
{
	display: block;
	width: 100%;
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	background: #F3F4F6 no-repeat 12px center;
	font-size: 16px;
	font-weight: 700;
	color: #4B5563;
	text-decoration: none;
}

#glonav .menu_panel	.body .list	a .intership_font
{
	display: flex;
	align-items: center;
	line-height: 1.3;
	padding-left: 10px;
}

#glonav .menu_panel	.body .list	a .intership_font span
{
	padding-left: 5px;
}
			

			/*	アイコン */
#glonav .menu_panel	.body .list	.cticon
{
	font-size: 1.25em;
	vertical-align: -0.22em;
	color: #4193B6;
}
				
#glonav .menu_panel	.body .list	.cticon .event
{
	width : 24px;
	height: 24px;
	background-image: url(https://careetern.com/img/speaker_outline.svg);
	background-size: 24px;
}

#glonav .menu_panel	.body .list	.cticon	.hart
{
	width: 20px;
	height: 21px;
	background-image: url(https://careetern.com/img/liked_blue.svg);
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
}
#glonav .menu_panel	.body .list	.cticon .recruit
{
	width: 19px;
	height: 21px;
	background-image: url(https://careetern.com/img/briefcase.svg);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center;
}
		


#glonav .menu_panel	.body .account_menu
{
	justify-content: space-between;
    padding: 8px;
}

#glonav .menu_panel	.body .account_menu	.btn_signin,
#glonav .menu_panel	.body .account_menu	.btn_signup
{
	display: block;
	width: 118px;
	height: 44px;
	margin: 0;
	padding: 0 8px;
	line-height: 44px;
	text-align: center;
}

#glonav .menu_panel	.body .account_menu	.btn_signout
{
	display: block;
	margin: 8px auto 16px;
	text-align: center;
	text-decoration: none;
	color: #7F1D1D;
	font-weight: 500;
}


#glonav .menu_panel	.body .line_banner
{
	display: block;
	width: 100%;
}

#glonav .menu_panel	.body .line_banner img
{
	display: block;
	width: 100%;
}
	
 /*今日はここまで*/



 
@media screen and (max-width: 1150px)
{
	#glonav .menu
	{
		flex: 1;
	}

	#glonav .menu .list
	{
		justify-content: flex-end;
	}

	#glonav .menu .event
	{
		display: none;
	}

}

@media screen and (max-width: 1024px)
{
	#glonav .menu .column
	{
		display: none;
	}
}

@media screen and (max-width: 940px)
{
	#glonav .menu .org
	{
		display: none;
	}
}

@media screen and (max-width: 827px)
{
	#glonav .menu .recruit
	{
		display: none;
	}
}

@media screen and (max-width: 768px)
{
	#glonav .menu .beginner
	{
		margin-left: 16px;
	}

	#glonav .menu .intern
	{
		display: none;
	}

	#glonav .account_menu .btn_mypage,
	#glonav .account_menu .btn_signin,
	#glonav .account_menu .btn_signup
	{
		padding: 8px 12px;
		font-size: 16px;
	}

	#glonav .btn_open_menu
	{
		display: block;
	}

	/*	モバイル用メニュー */
	#glonav	.menu_panel
	{
		display: block;
	}
}

@media screen and (max-width: 640px)
{
	#glonav .menu .beginner a
	{
		padding: 28px 6px 6px;
		background-position: center 6px;
		font-size: 12px;
		line-height: 1;
	}

}

@media screen and (max-width: 512px)
{
	#glonav .menu .list li:not(:last-child)
	{
		margin-right: 8px;
	}

	#glonav .menu .list .beginner a
	{
		padding: 22px 6px 6px;
		background-position: center 4px;
		background-size: 14px;
		font-size: 10px;
	}		


	#glonav .account_menu .btn_signin
	{
		display: none;
	}

	#glonav .account_menu .btn_signup
	{
		padding: 4px 8px;
		font-size: 16px;
	}

	#glonav .btn_open_menu
	{
		margin-left: 8px;
	}
}

@media screen and (max-width: 340px)
{
	#glonav .logo
	{
		width: 80px;
	}
}





/*
#glonav .account a
{
	float: right;
}
*/



/*
	Main
*/
.main
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-md);
	margin-top: 100px;
	height: 1000px;

	.howto
	{
		display: flex;
		flex-direction: column;
		gap: var(--spacing-md);
		max-width: 1200px;
		line-height: 1.5;

		ol
		{
			list-style: inside decimal;
		}

		ul
		{
			list-style: inside disc;
			padding-left: var(--spacing-lg);
		}

		li
		{
			margin: var(--spacing-sm) 0;
		}

		code
		{
			padding: var(--spacing-xs);
			margin: 0 var(--spacing-xs);
			background-color: var(--color-background);
			border-radius: var(--radius-sm);
		}

		.button
		{
			text-decoration: none;
			text-align: center;
			padding: var(--spacing-sm) var(--spacing-md);
			background-color: var(--color-main);/*ボタンのカラー選択*/
			color: white;
			border: none;
			border-radius: var(--radius-md);
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover
			{
				opacity: 0.9;
				transform: scale(0.99);
			}
		}
	}

	.chat_area
	{
		flex: 1;
		width: 95%;
		max-width: 1200px;
		height: 100%;
		background-color: var(--color-chat-background);/*チャット背景色*/
		border: 2px solid var(--color-chat-background);
		display: flex;
		flex-direction: column;

		.history
		{
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-md);
			padding: var(--spacing-md);
			height: 100%;
			overflow-y: auto;

			.balloon
			{
				width: 70%;
				background-color: var(--color-background);/*相手のチャット画面？*/
				padding: var(--spacing-md);
				border-radius: var(--radius-md);
				white-space: pre-wrap;
				word-wrap: break-word;

				/* アニメーション */
				opacity: 0;
				transform: translateY(20px);
				transition: opacity 0.5s ease, transform 0.5s ease;

				&.show
				{
					opacity: 1;
					transform: translateY(0);
				}

				&.me
				{
					align-self: flex-end;
					background-color: var(--color-main);/*自分の返答*/
					color: white;
				}
			}
		}

		.generating
		{
			text-align: center;
			margin: var(--spacing-md) 0;
			color: white;
		}

		.answer
		{
			display: flex;
			align-items: flex-end;
			padding: var(--spacing-md);
			background-color: var(--color-background);/*返答カラー*/

			.answer_textarea
			{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 1em;
				width: 100%;
				height: 100px;
				padding: var(--spacing-sm);
				border-radius: var(--radius-md);
				box-sizing: border-box;
				resize: none;
			}

			.send_button
			{
				flex-shrink: 0;
				margin-left: var(--spacing-md);
				padding: var(--spacing-sm) var(--spacing-md);
				background-color: var(--color-main);/*送信ボタンカラー*/
				color: white;
				border: none;
				border-radius: var(--radius-md);
				cursor: pointer;
			}
		}
	}
}

/*
	Footer
*/

#footer
{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

#footer .footer_top
{
	background-color: #B4D6DC;
	background-image: url(https://careetern.com/img/footer_cityscape.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	padding: 32px 0 100px;
}

#footer .footer_top	.footer_logo
{
	display: block;
	width: 148px;
	height: 100px;
	margin: 0 auto;
	background: url(https://careetern.com/img/cloud_careetern_footer.svg) no-repeat center;
}

#footer .footer_top	.sitemap
{
	display: flex;
	justify-content: center;
	margin: 32px 0;
}

#footer .footer_top	.sitemap ul
{
	padding: 0 64px;
}

#footer .footer_top	.sitemap ul li
{
	text-align: left;
	padding: 1em 0;
}

#footer .footer_top	.sitemap ul li a
{
	text-decoration: none;
	color: #094E64;
}
		

#footer .footer_top	.footer_sns p
{
    font-size: 12px;
	color: #467F8F;
}

#footer .footer_top	.footer_sns	.sns_box
{
	display: flex;
	justify-content: center;
	padding: 16px 0;
}

#footer .footer_top	.footer_sns	.sns_box .sns_link
{
	display: block;
	width: 24px;
	height: 24px;
}

#footer .footer_top	.footer_sns	.sns_box .facebook
{
	background-image: url(https://careetern.com/img/icon_facebook.svg);
	background-size: cover;
}

#footer .footer_top	.footer_sns	.sns_box .twitter
{
	margin-right: 44px;
	background-image: url(https://careetern.com/img/icon_sns_x_careetern.svg);
	background-size: cover;
}
	/*ここまでやりました*/			

#footer .footer_bottom
{
	padding: 24px 0;
	background-color: #fff;
	color: #6B777A;
	font-size: 12px;
}

#footer .footer_bottom .sp_only
{
	display: none;
}

#footer .footer_bottom .copyright
{
	width: 73px;
	height: 12px;
	margin: 0 auto;
}

#footer .footer_bottom .lab_box
{
	display: flex;
	justify-content: space-between;
	width: 128px;
	margin: 32px auto;
}

#footer .footer_bottom .lab_box .lab_link
{
	display: block;
	width: 48px;
	height: 48px;
	margin: auto -32px;
}

#footer .footer_bottom .lab_box .kanazawa
{
	background-image: url(https://careetern.com/img/icon_kanazawa.svg);
	background-size: cover;
}
#footer .footer_bottom .lab_box .tokyo
{
	background-image: url(https://careetern.com/img/icon_tokyo.svg);
	background-size: cover;
}

#footer .footer_bottom .lab_box .toyama
{
	background-image: url(https://careetern.com/img/icon_toyama.svg);
	background-size: cover;
}

#footer .footer_bottom p
{
	line-height: 2em;
}

#footer .footer_bottom .privacy_mark
{
	display: block;
	width: 24px;
	height: 24px;
	margin: 8px auto 0;
	background-image: url(https://careetern.com/img/privacy.png);
	background-size: cover;
}


@media screen and (max-width: 414px)
{
	#footer .sitemap
	{
		flex-direction: column;
	}

	#footer .sitemap ul
	{
		padding: 0 0;
	}
	

	#footer	.footer_bottom
	{
		line-height: 16px;
	}

	#footer	.footer_bottom .sp_only
	{
		display: unset;
	}
}

/*自分で描いたやつ*/
/*
#footer
{
	height: 1000px;
	background-color: #ffffff;
	padding: 20px 0;
	text-align: center;
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#footer .footer_top a
{
	background-repeat: no-repeat;
	background-position: center center;
}

#footer .footer_top
{
	background-color: #8adbe6;
	margin-bottom: 30px;
	padding-bottom: 30px;

}

#footer .sitemap 
{
	display: flex;
	justify-content: space-between;
	text-align: center;
	height: 200px;
	width: 400px;
	margin: 50px 520px;
}

#footer .sitemap li
{
	width: 200px;
	margin: 25px;
	padding: 2px;

}

#footer .sitemap_box
{
	width: 45%;
	padding: 30px;
}
*/	

/*どっちか
#footer .footer_top .footer_sns .sns_box
{
	margin: 10px 0 0 0;
	padding-bottom: 0;
	background: url(https://careetern.com/img/footer_cityscape.svg);
	height: 120px;
}
*/
/*
#footer .footer_top .footer_sns .sns_box .sns_link
{
	margin: 50px 0 0 0;
	padding-bottom: 0;
	background: url(https://careetern.com/img/footer_cityscape.svg) repeat;
	height: 120px;
}
*/


/*
#footer .footer_top .footer_sns .sns_box .twitter
{
	background-image: url(https://careetern.com/img/icon_sns_x_careetern.svg);
	margin: 0 22px 0 0;
}

#footer .footer_top .footer_sns .sns_box .facebook
{
	background-image: url(https://careetern.com/img/icon_facebook.svg);
	margin: 0 0 0 22px;
}
	*/
/*
#footer .footer_bottom .lab_box .tokyo
{
	background-image: url(https://careetern.com/img/icon_tokyo.svg);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

#footer .footer_bottom .lab_box .kanazawa
{
	background-image: url(https://careetern.com/img/icon_kanazawa.svg);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;	

}

#footer .footer_bottom .lab_box .toyama
{
	background-image: url(https://careetern.com/img/icon_toyama.svg);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;	
}

*/
/*
#footer .footer_bottom
{
	background-color: #ffffff;
}
*/
/*
.body
{
	background-repeat: no-repeat;
}*/